<h3><%= @oven.name %></h3>

<div class="cookie-info">
  Cookies in oven:
  <% if @oven.cookies.present? %>
    <%= @oven.cookies.count %> cookie with <%= @oven.cookies.first.fillings || "no fillings" %>
    <% if @oven.cookies.all?{|cookie|cookie.ready?} %>
      (Your Cookies batch is Ready)
      <%= button_to "Retrieve Cookies batch", empty_oven_path, class: 'button tiny' %>
    <% end %>
  <% else %>
    None
  <% end %>
</div>

<br/>
<%= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button' %>
